# LGBM - New Feature + Baseline Rolling Window

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from utils import *
import sys
import xgboost as xgb
import lightgbm as lgb
from datetime import datetime

NUMBER_OF_LAGS = 4

sys.path.append("../../main/datasets/")
!ls  ../../main/datasets/

1.0v.zip

<hr>

## Defining metrics

Baseline_score function

In [2]:
def evaluate(prediction, target, simulatedPrice):
    prediction = prediction.astype(int)

    return np.sum((prediction - np.maximum(prediction - target, 0) * 1.6)  * simulatedPrice)

Evaluation Metric

In [3]:
def feval_lgbm(prediction, dtrain):
    
    prediction = prediction.astype(int)
    target = dtrain.get_label()

    simulatedPrice = dtrain.get_weight()
    
    return 'feval', np.sum((prediction - np.maximum(prediction - target, 0) * 1.6)  * simulatedPrice), True

In [4]:
def feval_xgb(prediction, dtrain):
    prediction = prediction.astype(int)
    target = dtrain.get_label()
    simulationPrice = dtrain.get_weight()
    return 'feval', np.sum((prediction - np.maximum(prediction - target, 0) * 1.6)  * simulationPrice)

In [5]:
class feval_cat(object):
    def get_final_error(self, error, weight):
        return error

    def is_max_optimal(self):
        return True

    def evaluate(self, approxes, target, simulationPrice):
        prediction = np.array(approxes[0]).astype(int)
        target = np.array(target).astype(int)
        simulationPrice = np.array(simulationPrice)
        score = np.sum((prediction - np.maximum(prediction - target, 0) * 1.6)  * simulationPrice)
        return score, 0

<hr>

## Building our dataset
This notebook makes this step cleaner than the previous versions. So It'll be tidier and shorter than before!

In [6]:
infos, items, orders = read_data("../../main/datasets/")
print("Sanity checks...", infos.shape, items.shape, orders.shape)

Sanity checks... (10463, 3) (10463, 8) (2181955, 5)

In [7]:
# Changing our time signatures
process_time(orders)

In [8]:
df = dataset_builder(orders, items)

In [9]:
df.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice
0,13,1,0.0,0,1,4.38,1,1,1,8.84
1,13,2,0.0,0,2,3.00,1,2,1,16.92
2,13,3,1.0,0,3,5.00,1,3,1,15.89
3,13,4,0.0,0,2,4.44,1,2,1,40.17
4,13,5,2.0,0,2,2.33,1,1,1,17.04

<hr>

## Feature building

**Adding 'is_new'**

In [10]:
# This cell adds a feature responsible for indicating if in the current week
# a given item has its first appearance.
orders_sorted_by_week = orders.sort_values('group_backwards', ascending=False)
weeks_grouped_by_items = orders_sorted_by_week.groupby('itemID', as_index=False)
items_first_appearance = weeks_grouped_by_items.first()[['itemID', 'group_backwards']]
items_first_appearance.rename(columns={'group_backwards':'first_appearance'}, inplace=True)
df['is_new'] = 0
df = pd.merge(df, items_first_appearance, left_on=['itemID'], right_on=['itemID'], how='left', validate='m:1')
df.loc[df['first_appearance'] == df['group_backwards'], 'is_new'] = 1
df.drop(columns=['first_appearance'], inplace=True)

In [11]:
df.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0
1,13,2,0.0,0,2,3.00,1,2,1,16.92,0
2,13,3,1.0,0,3,5.00,1,3,1,15.89,1
3,13,4,0.0,0,2,4.44,1,2,1,40.17,0
4,13,5,2.0,0,2,2.33,1,1,1,17.04,1

**Cumulative sale by category**

In [12]:
# percentage_accum_cat_3 feature...
df = cumulative_sale_by_category(df, category='category3')

In [13]:
df.tail()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3
136014,1,10459,0.0,180,253,0.0,8,44,8,56.57,0,0.001074
136015,1,10460,0.0,0,253,0.0,8,44,8,163.81,0,0.001074
136016,1,10461,0.0,0,253,0.0,8,44,8,128.01,0,0.000000
136017,1,10462,0.0,180,253,0.0,8,44,8,166.97,0,0.001074
136018,1,10463,0.0,0,253,0.0,8,44,8,154.82,0,0.001074

**Time Encoding**

In [14]:
# Encoding our weeks as a series of sines and cosines...
# This function will consider our period as a semester in a year,
# so we can try other types of time encoding later!
df = time_encoder(df, 'group_backwards', 26)

In [15]:
df.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.0,-3.216245e-16,-1.0
1,13,2,0.0,0,2,3.00,1,2,1,16.92,0,0.0,-3.216245e-16,-1.0
2,13,3,1.0,0,3,5.00,1,3,1,15.89,1,0.0,-3.216245e-16,-1.0
3,13,4,0.0,0,2,4.44,1,2,1,40.17,0,0.0,-3.216245e-16,-1.0
4,13,5,2.0,0,2,2.33,1,1,1,17.04,1,0.0,-3.216245e-16,-1.0

**Lags and diffs**

In [16]:
# This cell lags and diffs our feature 'orderSum'
shifting = df.copy()

for i in range(1, NUMBER_OF_LAGS + 1):
    # Carrying the data of weeks t-1
    shifting[f'orderSum_{i}'] = shifting.groupby('itemID')['orderSum'].shift(i)

    
    # Getting the difference of the orders and promotions between weeks t-1 and t-2...
    shifting[f'orderSum_diff_{i}'] = shifting.groupby('itemID')[f'orderSum_{i}'].diff()

In [17]:
shifting.tail()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,...,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4
136014,1,10459,0.0,180,253,0.0,8,44,8,56.57,...,0.239316,0.970942,0.0,0.0,0.0,-1.0,1.0,1.0,0.0,0.0
136015,1,10460,0.0,0,253,0.0,8,44,8,163.81,...,0.239316,0.970942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
136016,1,10461,0.0,0,253,0.0,8,44,8,128.01,...,0.239316,0.970942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
136017,1,10462,0.0,180,253,0.0,8,44,8,166.97,...,0.239316,0.970942,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,1.0
136018,1,10463,0.0,0,253,0.0,8,44,8,154.82,...,0.239316,0.970942,0.0,-1.0,1.0,1.0,0.0,0.0,0.0,0.0

**Rolling window "orderSum"**

In [18]:
%%time
# This cell creates rolling-window features based on 'orderSum' in our dataset!
item_group = shifting.groupby(["itemID", "group_backwards"]).agg({'orderSum':'sum'})

# We'll .shift(-1) because it sorts our "group_backwards", 
# so doing .shift(1) would cause a HUGE dataleak.
aux_shifting = item_group.groupby('itemID')[['orderSum']].shift(-1)

aux_shifting.sort_values(['itemID', 'group_backwards'], ascending=[True, False], inplace=True)

for i in range(3):
    rolled_window = aux_shifting.groupby(['itemID'], as_index=False)[['orderSum']].rolling(2 ** i).mean()
    rolled_window.rename(columns={'orderSum':f"orderSum_mean_rolled_{i}"}, inplace=True)
    shifting = pd.merge(shifting, rolled_window, left_on=['itemID', 'group_backwards'], right_on=['itemID', 'group_backwards'])

CPU times: user 37.9 s, sys: 242 ms, total: 38.1 s
Wall time: 37.9 s

In [19]:
# LGBM Says on docs that it automatically handles zero values as NaN,
# so we'll keep this standard...
shifting.fillna(0, inplace=True)

In [20]:
shifting.query('itemID == 5')

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,...,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2
4,13,5,2.0,0,2,2.33,1,1,1,17.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
10467,12,5,1.0,0,2,2.33,1,1,1,17.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.00
20930,11,5,0.0,0,2,2.33,1,1,1,17.04,...,-1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.5,0.00
31393,10,5,1.0,0,2,2.33,1,1,1,17.04,...,-1.0,1.0,-1.0,2.0,0.0,0.0,0.0,0.0,0.5,0.00
41856,9,5,0.0,0,2,2.33,1,1,1,17.04,...,1.0,0.0,-1.0,1.0,-1.0,2.0,0.0,1.0,0.5,1.00
52319,8,5,0.0,0,2,2.33,1,1,1,17.04,...,-1.0,1.0,1.0,0.0,-1.0,1.0,-1.0,0.0,0.5,0.50
62782,7,5,0.0,0,2,2.33,1,1,1,17.04,...,0.0,0.0,-1.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.25
73245,6,5,127.0,0,2,2.33,1,1,1,17.04,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.0,0.0,0.0,0.25
83708,5,5,4.0,0,2,2.33,1,1,1,17.04,...,127.0,0.0,0.0,0.0,0.0,0.0,-1.0,127.0,63.5,31.75
94171,4,5,39.0,0,2,2.33,1,1,1,17.04,...,-123.0,127.0,127.0,0.0,0.0,0.0,0.0,4.0,65.5,32.75
104634,3,5,3.0,0,2,2.33,1,1,1,17.04,...,35.0,4.0,-123.0,127.0,127.0,0.0,0.0,39.0,21.5,42.50
115097,2,5,2.0,0,2,2.33,1,1,1,17.04,...,-36.0,39.0,35.0,4.0,-123.0,127.0,127.0,3.0,21.0,43.25
125560,1,5,1.0,0,2,2.33,1,1,1,17.04,...,-1.0,3.0,-36.0,39.0,35.0,4.0,-123.0,2.0,2.5,12.00

### Tobias features

In [21]:
def gbtransf(data, group_cols, targeted_cols, out_names, function, params = dict()):
  
    X = data.values
    col = {c : i for i, c in enumerate(data.columns)}

    # values that are going to calculated
    new_feat = np.zeros((len(data), len(out_names)))
    
    # numbers of the columns
    gcols = [col[c] for c in group_cols]
    tcols = [col[c] for c in targeted_cols]
    
    interval = None
    a = None
    i = 0
    while i < len(X):
        a = X[i, gcols]

        # find the whole interval of this group
        j = i
        while j < len(X):
            if (X[j, gcols] != a).any():
                break
            j += 1
        interval = X[i:j, tcols]

        # apply function on interval, save in new feature
        output = function(interval, **params)
        new_feat[i:j] = output

        # go to next group
        i = j
    
    out_df = pd.DataFrame(new_feat, columns = out_names, index = data.index)
        
    return out_df

In [22]:
shifting.sort_values(['itemID', 'group_backwards'], inplace = True, ascending=[True, False])

In [162]:
pd.set_option('display.max_columns', 50)
pd.set_option("display.precision", 4)

In [24]:
shifting.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.000000,-3.216245e-16,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10463,12,1,2.0,0,1,4.38,1,1,1,8.84,1,0.000000,2.393157e-01,-0.970942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20926,11,1,313.0,0,1,4.38,1,1,1,8.84,0,0.006728,4.647232e-01,-0.885456,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0
31389,10,1,35.0,0,1,4.38,1,1,1,8.84,0,0.746587,6.631227e-01,-0.748511,313.0,311.0,2.0,2.0,0.0,0.0,0.0,0.0,313.0,157.5,0.0
41852,9,1,3.0,0,1,4.38,1,1,1,8.84,0,0.608717,8.229839e-01,-0.568065,35.0,-278.0,313.0,311.0,2.0,2.0,0.0,0.0,35.0,174.0,87.5

In [25]:
data = shifting.copy()

In [26]:
data.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.000000,-3.216245e-16,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10463,12,1,2.0,0,1,4.38,1,1,1,8.84,1,0.000000,2.393157e-01,-0.970942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20926,11,1,313.0,0,1,4.38,1,1,1,8.84,0,0.006728,4.647232e-01,-0.885456,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0
31389,10,1,35.0,0,1,4.38,1,1,1,8.84,0,0.746587,6.631227e-01,-0.748511,313.0,311.0,2.0,2.0,0.0,0.0,0.0,0.0,313.0,157.5,0.0
41852,9,1,3.0,0,1,4.38,1,1,1,8.84,0,0.608717,8.229839e-01,-0.568065,35.0,-278.0,313.0,311.0,2.0,2.0,0.0,0.0,35.0,174.0,87.5

In [27]:
data.groupby("group_backwards")["is_new"].sum().to_dict()

{1: 728,
 2: 727,
 3: 794,
 4: 671,
 5: 785,
 6: 661,
 7: 716,
 8: 909,
 9: 785,
 10: 533,
 11: 371,
 12: 729,
 13: 1431}

In [28]:
the_cat = "manufacturer"

In [29]:
sla = data.groupby(["group_backwards", the_cat])["is_new"].sum().reset_index()

In [30]:
sla.sort_values(['group_backwards', the_cat], inplace = True, ascending=[False, True])

In [31]:
sla.head()

      group_backwards  manufacturer  is_new
3036               13             1       5
3037               13             2      59
3038               13             3      18
3039               13             4       4
3040               13             5      21

In [32]:
sla = sla.rename(columns={"is_new" : "leak_cat3"})

In [33]:
sla.head()

      group_backwards  manufacturer  leak_cat3
3036               13             1          5
3037               13             2         59
3038               13             3         18
3039               13             4          4
3040               13             5         21

In [34]:
data = pd.merge(data, sla, on = ["group_backwards", the_cat])

In [35]:
data.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2,leak_cat3
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,13,31,0.0,0,1,5.00,1,1,1,18.87,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
2,13,32,1.0,0,1,4.60,1,1,1,26.49,1,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3,13,37,1.0,0,1,5.00,1,1,1,17.10,1,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
4,13,108,0.0,0,1,5.00,1,1,1,13.35,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [36]:
data["total_new"] = data["group_backwards"].map(data.groupby("group_backwards")["is_new"].sum().to_dict())

In [37]:
data.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2,leak_cat3,total_new
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
1,13,31,0.0,0,1,5.00,1,1,1,18.87,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
2,13,32,1.0,0,1,4.60,1,1,1,26.49,1,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
3,13,37,1.0,0,1,5.00,1,1,1,17.10,1,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
4,13,108,0.0,0,1,5.00,1,1,1,13.35,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431

In [38]:
data.fillna(0, inplace=True)

In [39]:
# checking if we got what we wanted
data.query('itemID == 1290')

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2,leak_cat3,total_new
26329,13,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,-3.216245e-16,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,1431
26347,12,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,2.393157e-01,-0.970942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,729
26365,11,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,4.647232e-01,-0.885456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,371
26383,10,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,6.631227e-01,-0.748511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,533
26401,9,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,8.229839e-01,-0.568065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,785
26419,8,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,9.350162e-01,-0.354605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,909
26437,7,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,9.927089e-01,-0.120537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,716
26455,6,1290,0.0,0,34,0.0,1,3,1,42.29,0,0.000000,9.927089e-01,0.120537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,661
26473,5,1290,21.0,0,34,0.0,1,3,1,42.29,1,0.000000,9.350162e-01,0.354605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,14,785
26491,4,1290,3.0,0,34,0.0,1,3,1,42.29,0,0.013564,8.229839e-01,0.568065,21.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,10.5,5.25,2,671
26509,3,1290,2.0,0,34,0.0,1,3,1,42.29,0,0.013911,6.631227e-01,0.748511,3.0,-18.0,21.0,21.0,0.0,0.0,0.0,0.0,3.0,12.0,6.00,1,794
26527,2,1290,3.0,0,34,0.0,1,3,1,42.29,0,0.013911,4.647232e-01,0.885456,2.0,-1.0,3.0,-18.0,21.0,21.0,0.0,0.0,2.0,2.5,6.50,1,727
26545,1,1290,14.0,0,34,0.0,1,3,1,42.29,0,0.014046,2.393157e-01,0.970942,3.0,1.0,2.0,-1.0,3.0,-18.0,21.0,21.0,3.0,2.5,7.25,0,728

In [135]:
data.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2,leak_cat3,total_new
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
1,13,31,0.0,0,1,5.00,1,1,1,18.87,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
2,13,32,1.0,0,1,4.60,1,1,1,26.49,1,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
3,13,37,1.0,0,1,5.00,1,1,1,17.10,1,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
4,13,108,0.0,0,1,5.00,1,1,1,13.35,0,0.0,-3.216245e-16,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431

In [136]:
data.sort_values(['itemID', 'group_backwards'], inplace = True, ascending=[True, False])

In [137]:
data.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2,leak_cat3,total_new
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.000000,-3.216245e-16,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
40,12,1,2.0,0,1,4.38,1,1,1,8.84,1,0.000000,2.393157e-01,-0.970942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,729
80,11,1,313.0,0,1,4.38,1,1,1,8.84,0,0.006728,4.647232e-01,-0.885456,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,6,371
120,10,1,35.0,0,1,4.38,1,1,1,8.84,0,0.746587,6.631227e-01,-0.748511,313.0,311.0,2.0,2.0,0.0,0.0,0.0,0.0,313.0,157.5,0.0,3,533
160,9,1,3.0,0,1,4.38,1,1,1,8.84,0,0.608717,8.229839e-01,-0.568065,35.0,-278.0,313.0,311.0,2.0,2.0,0.0,0.0,35.0,174.0,87.5,0,785

<hr>

## Maximum error
The maximum error we could get in this dataset would be just guessing the mean of our sales from weeks 1 to 12, and that's what the cell below is computing.

In [40]:
worst_possible_prediction = shifting.loc[shifting.group_backwards > 1]['orderSum'].mean()
prediction = np.full(shifting.loc[shifting.group_backwards == 1]['orderSum'].shape, worst_possible_prediction) # Array filled with the mean...
target = shifting.loc[shifting.group_backwards == 1]['orderSum']
print("Guessing the mean of 'orderSum' for all items in target", mse(target, prediction) ** 0.5)

Guessing the mean of 'orderSum' for all items in target 118.20105838913783

<hr>

## Dataset Splitting (Train until week 3 / Val. week 2/ Test week 1)
All my experiments will use weeks 13 to 3 as a train set, week 2 as our validation set and week 1 as a test set.

In [138]:
dataset = data

In [139]:
train = dataset.query('3 <= group_backwards <= 13').reset_index(drop = True)
full_train = dataset.query('2 <= group_backwards <= 13').reset_index(drop = True)
val = dataset.query('group_backwards == 2').reset_index(drop = True)
sub = dataset.query('group_backwards == 1').reset_index(drop = True)

In [153]:
features = train.columns.values

In [154]:
features

array(['group_backwards', 'itemID', 'brand', 'manufacturer',
       'customerRating', 'category1', 'category2', 'category3',
       'recommendedRetailPrice', 'is_new', 'percentage_accum_category3',
       'group_backwards_sin', 'group_backwards_cos', 'orderSum_1',
       'orderSum_diff_1', 'orderSum_2', 'orderSum_diff_2', 'orderSum_3',
       'orderSum_diff_3', 'orderSum_4', 'orderSum_diff_4',
       'orderSum_mean_rolled_0', 'orderSum_mean_rolled_1',
       'orderSum_mean_rolled_2', 'leak_cat3', 'total_new'], dtype=object)

In [140]:
train.head()

,group_backwards,itemID,orderSum,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice,is_new,percentage_accum_category3,group_backwards_sin,group_backwards_cos,orderSum_1,orderSum_diff_1,orderSum_2,orderSum_diff_2,orderSum_3,orderSum_diff_3,orderSum_4,orderSum_diff_4,orderSum_mean_rolled_0,orderSum_mean_rolled_1,orderSum_mean_rolled_2,leak_cat3,total_new
0,13,1,0.0,0,1,4.38,1,1,1,8.84,0,0.000000,-3.216245e-16,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1431
1,12,1,2.0,0,1,4.38,1,1,1,8.84,1,0.000000,2.393157e-01,-0.970942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,729
2,11,1,313.0,0,1,4.38,1,1,1,8.84,0,0.006728,4.647232e-01,-0.885456,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,6,371
3,10,1,35.0,0,1,4.38,1,1,1,8.84,0,0.746587,6.631227e-01,-0.748511,313.0,311.0,2.0,2.0,0.0,0.0,0.0,0.0,313.0,157.5,0.0,3,533
4,9,1,3.0,0,1,4.38,1,1,1,8.84,0,0.608717,8.229839e-01,-0.568065,35.0,-278.0,313.0,311.0,2.0,2.0,0.0,0.0,35.0,174.0,87.5,0,785

In [141]:
len(train), len(val), len(sub)

(115093, 10463, 10463)

In [142]:
weights = infos.set_index('itemID')['simulationPrice'].to_dict()

In [143]:
y_train = train.pop('orderSum').values
y_full_train = full_train.pop('orderSum').values
y_val = val.pop('orderSum').values
y_sub = sub.pop('orderSum').values

X_train = train.values
X_full_train = full_train.values
X_val = val.values
X_sub = sub.values

w_train = train['itemID'].map(weights)
w_full_train = full_train['itemID'].map(weights)
w_val = val['itemID'].map(weights)
w_sub = sub['itemID'].map(weights)

### XGBoost

In [144]:
xgb.__version__

'1.0.2'

In [145]:
# custom objective

def gradient(prediction, dtrain):
    y = dtrain.get_label()
    return -2 * (prediction - np.maximum(prediction - y, 0) * 1.6) * (1 - (prediction > y) * 1.6)

def hessian(prediction, dtrain):
    y = dtrain.get_label()
    return -2 * (1 - (prediction > y) * 1.6) ** 2

def objective(prediction, dtrain):
    w = dtrain.get_weight()
    grad = gradient(prediction, dtrain) * w
    hess = hessian(prediction, dtrain) * w
    return grad, hess

In [146]:
missing = 0
dtrain = xgb.DMatrix(X_train, y_train, w_train, missing = missing)
dfulltrain = xgb.DMatrix(X_full_train, y_full_train, w_full_train, missing = missing)
dval = xgb.DMatrix(X_val, y_val, w_val, missing = missing)
dsub = xgb.DMatrix(X_sub, y_sub, w_sub, missing = missing)

# specify parameters via map
param = {
    'max_depth':10,
    'eta':0.005,
    'objective':'reg:squarederror',
    'disable_default_eval_metric': 1,
    "min_child_weight" : 3,

}

num_round = 400
bst = xgb.train(param, dtrain,
                num_round,
                early_stopping_rounds = 10,
                evals = [(dtrain, 'train'), (dval, 'val')],
                feval = feval_xgb,
                verbose_eval=10,
                maximize = True,
                )

[0]	train-feval:122331.56006	val-feval:13554.07397
Multiple eval metrics have been passed: 'val-feval' will be used for early stopping.

Will train until val-feval hasn't improved in 10 rounds.
[1]	train-feval:297010.44208	val-feval:29662.43797
[2]	train-feval:489268.65814	val-feval:53146.76200
[3]	train-feval:639702.21828	val-feval:67367.59198
[4]	train-feval:854979.40442	val-feval:93339.23799
[5]	train-feval:1005620.82864	val-feval:106548.24398
[6]	train-feval:1238294.17316	val-feval:132742.43610
[7]	train-feval:1361558.72914	val-feval:147099.41612
[8]	train-feval:1519893.15510	val-feval:159033.73017
[9]	train-feval:1660831.08120	val-feval:168436.91019
[10]	train-feval:1907373.68547	val-feval:187264.14417
[11]	train-feval:2040886.90374	val-feval:196033.63028
[12]	train-feval:2273850.80958	val-feval:207654.62431
[13]	train-feval:2397448.43156	val-feval:217688.21832
[14]	train-feval:2500121.30375	val-feval:223237.12435
[15]	train-feval:2637040.44781	val-feval:236291.99445
[16]	train-feval:2746458.31797	val-feval:243960.54246
[17]	train-feval:2875260.11614	val-feval:253283.21847
[18]	train-feval:3158327.71532	val-feval:266952.86254
[19]	train-feval:3279605.72554	val-feval:273638.60856
[20]	train-feval:3388117.69166	val-feval:280604.00865
[21]	train-feval:3492510.62775	val-feval:286624.59073
[22]	train-feval:3715176.45388	val-feval:294507.50275
[23]	train-feval:3802268.93019	val-feval:297850.44078
[24]	train-feval:3921199.83021	val-feval:306062.53873
[25]	train-feval:4045713.45237	val-feval:315504.61481
[26]	train-feval:4114411.42066	val-feval:309669.34883
[27]	train-feval:4227832.52433	val-feval:324661.52479
[28]	train-feval:4322055.56837	val-feval:330321.35480
[29]	train-feval:4431427.29444	val-feval:336564.81673
[30]	train-feval:4530046.48246	val-feval:346385.92682
[31]	train-feval:4620192.15247	val-feval:352417.55485
[32]	train-feval:4741658.55269	val-feval:357930.86488
[33]	train-feval:4843754.43287	val-feval:361009.52890
[34]	train-feval:4942282.20309	val-feval:363831.21091
[35]	train-feval:5042116.29315	val-feval:373249.10295
[36]	train-feval:5139715.88938	val-feval:378764.46293
[37]	train-feval:5240218.54350	val-feval:383701.77097
[38]	train-feval:5342563.46927	val-feval:389793.28898
[39]	train-feval:5431887.87322	val-feval:393905.58899
[40]	train-feval:5525899.81724	val-feval:399424.65105
[41]	train-feval:5624122.58732	val-feval:407306.13510
[42]	train-feval:5747453.94769	val-feval:417253.10716
[43]	train-feval:5834957.31574	val-feval:419362.79511
[44]	train-feval:5924357.19795	val-feval:428817.92706
[45]	train-feval:6062728.39201	val-feval:439086.68110
[46]	train-feval:6148269.08612	val-feval:441539.39716
[47]	train-feval:6228364.97030	val-feval:441233.15120
[48]	train-feval:6310618.59809	val-feval:447609.52319
[49]	train-feval:6420790.78408	val-feval:452417.11123
[50]	train-feval:6496198.18996	val-feval:455168.78528
[51]	train-feval:6592234.97403	val-feval:461716.81142
[52]	train-feval:6672055.54802	val-feval:469512.92746
[53]	train-feval:6746437.18816	val-feval:472699.61946
[54]	train-feval:6830016.60795	val-feval:479199.90747
[55]	train-feval:6910153.62607	val-feval:481351.18549
[56]	train-feval:6976302.59806	val-feval:487318.21957
[57]	train-feval:7164592.67184	val-feval:495301.27960
[58]	train-feval:7239884.91181	val-feval:500010.82567
[59]	train-feval:7310072.56991	val-feval:505857.75968
[60]	train-feval:7380955.31795	val-feval:510106.25766
[61]	train-feval:7461793.32600	val-feval:512527.04572
[62]	train-feval:7579361.90404	val-feval:517980.75977
[63]	train-feval:7663985.80418	val-feval:519383.89772
[64]	train-feval:7745635.20408	val-feval:521766.52772
[65]	train-feval:7777680.62200	val-feval:513720.62984
[66]	train-feval:7853498.57805	val-feval:513901.87186
[67]	train-feval:7922263.04215	val-feval:518137.79189
[68]	train-feval:8013453.20219	val-feval:521160.46194
[69]	train-feval:8085922.09802	val-feval:524571.90597
[70]	train-feval:8145031.08800	val-feval:527610.47005
[71]	train-feval:8211762.64618	val-feval:530080.00811
[72]	train-feval:8276049.46804	val-feval:532624.95415
[73]	train-feval:8348431.95231	val-feval:535296.07420
[74]	train-feval:8426193.76023	val-feval:541542.89630
[75]	train-feval:8524369.89851	val-feval:543792.28432
[76]	train-feval:8580115.64249	val-feval:543667.86628
[77]	train-feval:8665781.29674	val-feval:543670.46032
[78]	train-feval:8705670.33266	val-feval:539672.57041
[79]	train-feval:8755341.39658	val-feval:537791.91043
[80]	train-feval:8841528.86727	val-feval:543059.32050
[81]	train-feval:8955808.09312	val-feval:544762.32651
[82]	train-feval:9022569.57320	val-feval:549518.20853
[83]	train-feval:9082814.28326	val-feval:551184.56053
[84]	train-feval:9156947.21095	val-feval:550037.55059
[85]	train-feval:9240124.98680	val-feval:549902.17858
[86]	train-feval:9300864.39279	val-feval:550260.08463
[87]	train-feval:9376467.43689	val-feval:554107.12671
[88]	train-feval:9426414.99910	val-feval:555575.77471
[89]	train-feval:9488105.53901	val-feval:557435.22468
[90]	train-feval:9550403.28490	val-feval:559725.05870
[91]	train-feval:9627137.77107	val-feval:561980.06471
[92]	train-feval:9675760.65117	val-feval:561504.36075
[93]	train-feval:9711724.31331	val-feval:556305.22459
[94]	train-feval:9765511.88735	val-feval:560594.13467
[95]	train-feval:9825483.24753	val-feval:560327.45070
[96]	train-feval:9885413.47950	val-feval:562330.93074
[97]	train-feval:9926206.88164	val-feval:559281.80673
[98]	train-feval:9983357.42366	val-feval:559583.72075
[99]	train-feval:10066907.08729	val-feval:564662.13475
[100]	train-feval:10129705.71744	val-feval:558981.43679
[101]	train-feval:10212781.00313	val-feval:566132.16286
[102]	train-feval:10266783.40319	val-feval:566905.32887
[103]	train-feval:10315629.94317	val-feval:565849.37689
[104]	train-feval:10379057.47550	val-feval:568568.54890
[105]	train-feval:10442566.84521	val-feval:572983.97296
[106]	train-feval:10489617.95936	val-feval:575500.22498
[107]	train-feval:10546282.16956	val-feval:576897.69697
[108]	train-feval:10600928.15159	val-feval:576586.39303
[109]	train-feval:10661724.86348	val-feval:577137.68105
[110]	train-feval:10708935.21145	val-feval:578600.85709
[111]	train-feval:10775139.94543	val-feval:579881.13509
[112]	train-feval:10820162.07927	val-feval:578627.21109
[113]	train-feval:10911254.14930	val-feval:588660.73495
[114]	train-feval:10969286.62755	val-feval:587613.32896
[115]	train-feval:11046706.01786	val-feval:586723.89698
[116]	train-feval:11134957.60971	val-feval:591262.64901
[117]	train-feval:11198317.56749	val-feval:591470.74093
[118]	train-feval:11253106.94757	val-feval:590061.16494
[119]	train-feval:11315493.10566	val-feval:593726.90692
[120]	train-feval:11366493.14758	val-feval:592441.61492
[121]	train-feval:11410501.52750	val-feval:595515.76099
[122]	train-feval:11296553.28100	val-feval:526127.90098
[123]	train-feval:11355826.79303	val-feval:528726.38498
[124]	train-feval:11398944.53090	val-feval:530409.38500
[125]	train-feval:11455965.00869	val-feval:531891.23698
[126]	train-feval:11509098.54469	val-feval:534783.59303
[127]	train-feval:11591049.27642	val-feval:540418.20890
[128]	train-feval:11636311.80036	val-feval:539247.56693
[129]	train-feval:11622508.88195	val-feval:526803.58710
[130]	train-feval:11672276.37611	val-feval:531817.07914
[131]	train-feval:11718010.51610	val-feval:532240.12917
Stopping. Best iteration:
[121]	train-feval:11410501.52750	val-feval:595515.76099

In [225]:
prediction = bst.predict(dsub, ntree_limit=bst.best_ntree_limit).astype(int)
evaluate(prediction, y_sub, w_sub)

417981.3259999999

In [229]:
# retrain!

In [230]:
bst_sub = xgb.train(
    param, 
    dfulltrain,
    num_boost_round = bst.best_ntree_limit,
    feval = feval_xgb, 
    maximize = True,
    evals = [(dfulltrain, 'ftrain')],
    verbose_eval = False,
)
bst_sub.best_ntree_limit

122

In [231]:
prediction = bst_sub.predict(dsub, ntree_limit=bst_sub.best_ntree_limit).astype(int)
evaluate(prediction, y_sub, w_sub)

480858.03399999975

In [ ]:
feat_v = bst.get_fscore().items()
feat_v = [imp for (trs, imp) in feat_v]
feat_imp = [p for p in zip(features, feat_v)]
feat_imp_df = pd.DataFrame(feat_imp, columns=['feature', 'importance'])
feat_imp_df = feat_imp_df.sort_values('importance', ascending=False)
feat_imp_df

In [237]:
feat_v_sub = bst_sub.get_fscore().items()
feat_v_sub = [imp for (trs, imp) in feat_v_sub]
feat_imp_sub = [p for p in zip(features, feat_v_sub)]
feat_imp_sub_df = pd.DataFrame(feat_imp_sub, columns=['feature', 'importance'])
feat_imp_sub_df = feat_imp_sub_df.sort_values('importance', ascending=False)
feat_imp_sub_df

In [242]:
diff = np.array(feat_v_sub) - np.array(feat_v)
diff_imp = [p for p in zip(features, diff)]
diff_imp_df = pd.DataFrame(diff_imp, columns=['feature', 'importance'])
diff_imp_df = diff_imp_df.sort_values('importance', ascending=False)
diff_imp_df

### LGBM

In [70]:
params = {
          "objective" : "l1",
          "metric" :"rmse",
          "learning_rate" : 0.5,
          'verbosity': 1,
          'max_depth': 7,
          'num_leaves': 15,
          "min_data_in_leaf":3500,
         }

lgbtrain = lgb.Dataset(X_train, label = y_train, weight=w_train, categorical_feature=[2, 3, 5, 6, 7, 9])
lgbfulltrain = lgb.Dataset(X_full_train, label = y_full_train, weight=w_full_train, categorical_feature=[2, 3, 5, 6, 7, 9])
lgbvalid = lgb.Dataset(X_val, label = y_val, weight=w_val, categorical_feature=[2, 3, 5, 6, 7, 9])
lgbsubmis = lgb.Dataset(X_sub, label = y_sub, weight=w_sub, categorical_feature=[2, 3, 5, 6, 7, 9])

num_round = 1000
lgb_model = lgb.train(params,
                  lgbtrain,
                  num_round,
                  valid_sets = [lgbtrain, lgbvalid],
                  valid_names = ['train', 'val'],
                  verbose_eval=5,
                  early_stopping_rounds=5,
                  feval=feval_lgbm,
                 )

Training until validation scores don't improve for 5 rounds
[5]	train's rmse: 39.4962	train's feval: 4.83791e+06	val's rmse: 44.5092	val's feval: 307293
[10]	train's rmse: 38.6102	train's feval: 7.3952e+06	val's rmse: 43.6229	val's feval: 568693
[15]	train's rmse: 38.7645	train's feval: 5.70617e+06	val's rmse: 43.7633	val's feval: 433730
Early stopping, best iteration is:
[10]	train's rmse: 38.6102	train's feval: 7.3952e+06	val's rmse: 43.6229	val's feval: 568693

In [147]:
prediction = lgb_model.predict(X_sub, num_iteration=lgb_model.best_iteration).astype(int)
evaluate(prediction, y_sub, w_sub)

554812.3219999999

In [72]:
lgb_model_sub = lgb.train(params,
                  lgbfulltrain,
                  lgb_model.best_iteration,
                  valid_sets = [lgbfulltrain],
                  valid_names = ['train'],
                  verbose_eval=5,
                  early_stopping_rounds=None,
                 feval = feval_lgbm,
                 )

[5]	train's rmse: 39.5943	train's feval: 6.28894e+06
[10]	train's rmse: 39.3364	train's feval: 6.63024e+06

In [73]:
prediction = lgb_model_sub.predict(X_sub, num_iteration=80).astype(int)
evaluate(prediction, y_sub, w_sub)

494132.524

In [ ]:
feat_v = lgb_model.feature_importance()
feat_imp_ = [p for p in zip(features, feat_v)]
feat_imp_df = pd.DataFrame(feat_imp, columns=['feature', 'importance'])
feat_imp_df = feat_imp_df.sort_values('importance', ascending=False)
feat_imp_df

In [251]:
feat_v_sub = lgb_model_sub.feature_importance()
feat_imp_sub = [p for p in zip(features, feat_v_sub)]
feat_imp_sub_df = pd.DataFrame(feat_imp_sub, columns=['feature', 'importance'])
feat_imp_sub_df = feat_imp_sub_df.sort_values('importance', ascending=False)
feat_imp_sub_df

In [253]:
diff = [p for p in zip(features, feat_v_sub - feat_v)]
diff_df = pd.DataFrame(diff, columns=['feature', 'diff_importance_after_retrain'])
diff_df = diff_df.sort_values('diff_importance_after_retrain', ascending=False)
diff_df

                       feature  diff_importance_after_retrain
22      orderSum_mean_rolled_1                              8
25                   total_new                              4
3                 manufacturer                              4
15                  orderSum_2                              3
13                  orderSum_1                              2
0              group_backwards                              1
16             orderSum_diff_2                              0
24                   leak_cat3                              0
23      orderSum_mean_rolled_2                              0
21      orderSum_mean_rolled_0                              0
20             orderSum_diff_4                              0
19                  orderSum_4                              0
18             orderSum_diff_3                              0
17                  orderSum_3                              0
5                    category1                              0
12         group_backwards_cos                              0
10  percentage_accum_category3                              0
9                       is_new                              0
8       recommendedRetailPrice                              0
7                    category3                              0
4               customerRating                              0
14             orderSum_diff_1                             -1
1                       itemID                             -1
2                        brand                             -1
11         group_backwards_sin                             -5
6                    category2                             -8

### CatBoost

In [76]:
from catboost import CatBoost, CatBoostRegressor, Pool

In [190]:
ds_params = {
#     'cat_features' : [8, 9, 10],
}
train_pool = Pool(X_train, label = y_train, weight = w_train, **ds_params)
trainfull_pool = Pool(X_full_train, label = y_full_train, weight = w_full_train, **ds_params)
val_pool = Pool(X_val, label = y_val, weight = w_sub, **ds_params)
sub_pool = Pool(X_sub, label = y_sub, weight = w_sub, **ds_params)

cat_model = CatBoostRegressor(
    depth=7, 
    learning_rate=0.1, 
    loss_function='MAE',
    early_stopping_rounds=5,
    eval_metric = feval_cat(),
    thread_count=-1,
    verbose=10, # show us the progress after every 10 iterations
)

cat_model.fit(
    train_pool,
    eval_set=[train_pool, val_pool],
);

0:	learn: 0.0000000	test: 0.0000000	test1: 0.0000000	best: 0.0000000 (0)	total: 224ms	remaining: 3m 44s
10:	learn: 1038131.4479152	test: 1038131.4479152	test1: 148444.3560021	best: 148444.3560021 (10)	total: 2.53s	remaining: 3m 47s
20:	learn: 2783334.4942974	test: 2783334.4942974	test1: 274451.2300601	best: 274493.7800674 (19)	total: 4.76s	remaining: 3m 41s
30:	learn: 4315956.6835821	test: 4315956.6835821	test1: 346366.4960583	best: 346366.4960583 (30)	total: 6.92s	remaining: 3m 36s
40:	learn: 4380640.4013933	test: 4380640.4013933	test1: 348092.3180717	best: 350468.5160748 (38)	total: 9.07s	remaining: 3m 32s
Stopped by overfitting detector  (5 iterations wait)

bestTest = 350468.5161
bestIteration = 38

Shrink model to first 39 iterations.

In [191]:
prediction = cat_model.predict(X_sub, ntree_end = cat_model.best_iteration_).astype(int)
evaluate(prediction, y_sub, w_sub)

472915.056

In [192]:
# retrain!

In [193]:
cat_model.best_iteration_

38

In [194]:
{**cat_model.get_params(), "iterations" : cat_model.best_iteration_}

{'learning_rate': 0.1,
 'depth': 7,
 'loss_function': 'MAE',
 'verbose': 10,
 'eval_metric': <__main__.feval_cat at 0x7efffc1e1210>,
 'early_stopping_rounds': 5,
 'iterations': 38}

In [195]:
cat_sub = CatBoostRegressor(**{**cat_model.get_params(), "iterations" : cat_model.best_iteration_})
cat_sub.fit(
    trainfull_pool,
    eval_set=[trainfull_pool],
);

0:	learn: 0.0000000	test: 0.0000000	best: 0.0000000 (0)	total: 236ms	remaining: 8.73s
10:	learn: 1222396.9016862	test: 1222396.9016862	best: 1222396.9016862 (10)	total: 2.6s	remaining: 6.39s
20:	learn: 3074374.6702215	test: 3074374.6702215	best: 3074374.6702215 (20)	total: 4.91s	remaining: 3.98s
30:	learn: 4841309.5670845	test: 4841309.5670845	best: 4841309.5670845 (30)	total: 7.26s	remaining: 1.64s
37:	learn: 4890819.1130772	test: 4890819.1130772	best: 4890819.1130772 (37)	total: 8.87s	remaining: 0us

bestTest = 4890819.113
bestIteration = 37

In [196]:
prediction = cat_sub.predict(X_sub, ntree_end = cat_sub.best_iteration_).astype(int)
evaluate(prediction, y_sub, w_sub)

483885.57999999996

In [197]:
feat_v = cat_model.get_feature_importance()
feat_imp = [p for p in zip(features, feat_v)]
feat_imp_df = pd.DataFrame(feat_imp, columns=['feature', 'importance'])
feat_imp_df = feat_imp_df.sort_values('importance', ascending=False)
feat_imp_df

                       feature  importance
9                       is_new     37.4993
8       recommendedRetailPrice     15.0845
12         group_backwards_cos     10.2735
21      orderSum_mean_rolled_0      3.4620
15                  orderSum_2      3.4355
16             orderSum_diff_2      3.3336
19                  orderSum_4      3.2317
25                   total_new      2.7805
18             orderSum_diff_3      2.0866
1                       itemID      1.9976
22      orderSum_mean_rolled_1      1.9899
0              group_backwards      1.9728
4               customerRating      1.7272
20             orderSum_diff_4      1.5235
3                 manufacturer      1.3573
24                   leak_cat3      1.3419
2                        brand      1.2677
13                  orderSum_1      1.1588
17                  orderSum_3      0.9255
14             orderSum_diff_1      0.8026
10  percentage_accum_category3      0.6273
7                    category3      0.5488
6                    category2      0.4933
11         group_backwards_sin      0.4837
5                    category1      0.3124
23      orderSum_mean_rolled_2      0.2825

In [198]:
feat_v_sub = cat_sub.get_feature_importance()
feat_imp_sub = [p for p in zip(features, feat_v_sub)]
feat_imp_sub_df = pd.DataFrame(feat_imp_sub, columns=['feature', 'importance'])
feat_imp_sub_df = feat_imp_sub_df.sort_values('importance', ascending=False)
feat_imp_sub_df

                       feature  importance
9                       is_new     42.5080
8       recommendedRetailPrice     15.5035
12         group_backwards_cos     11.3877
16             orderSum_diff_2      3.4861
2                        brand      2.9034
21      orderSum_mean_rolled_0      2.7843
1                       itemID      2.6229
25                   total_new      2.3368
20             orderSum_diff_4      2.0537
4               customerRating      1.9019
15                  orderSum_2      1.8018
19                  orderSum_4      1.7002
22      orderSum_mean_rolled_1      1.2122
3                 manufacturer      1.1407
18             orderSum_diff_3      0.9483
24                   leak_cat3      0.9118
14             orderSum_diff_1      0.8202
13                  orderSum_1      0.6534
0              group_backwards      0.6117
10  percentage_accum_category3      0.5789
17                  orderSum_3      0.5341
6                    category2      0.5218
7                    category3      0.3824
5                    category1      0.3811
23      orderSum_mean_rolled_2      0.3097
11         group_backwards_sin      0.0035

In [199]:
diff = [p for p in zip(features, feat_v_sub - feat_v)]
diff_df = pd.DataFrame(diff, columns=['feature', 'diff_importance_after_retrain'])
diff_df = diff_df.sort_values('diff_importance_after_retrain', ascending=False)
diff_df

                       feature  diff_importance_after_retrain
9                       is_new                         5.0087
2                        brand                         1.6358
12         group_backwards_cos                         1.1143
1                       itemID                         0.6254
20             orderSum_diff_4                         0.5302
8       recommendedRetailPrice                         0.4189
4               customerRating                         0.1747
16             orderSum_diff_2                         0.1525
5                    category1                         0.0686
6                    category2                         0.0284
23      orderSum_mean_rolled_2                         0.0272
14             orderSum_diff_1                         0.0176
10  percentage_accum_category3                        -0.0484
7                    category3                        -0.1665
3                 manufacturer                        -0.2165
17                  orderSum_3                        -0.3914
24                   leak_cat3                        -0.4301
25                   total_new                        -0.4436
11         group_backwards_sin                        -0.4802
13                  orderSum_1                        -0.5054
21      orderSum_mean_rolled_0                        -0.6778
22      orderSum_mean_rolled_1                        -0.7777
18             orderSum_diff_3                        -1.1383
0              group_backwards                        -1.3611
19                  orderSum_4                        -1.5316
15                  orderSum_2                        -1.6337

### Ensemble

In [200]:
cat_w = 4
lgb_w = 0
xgb_w = 1
ensemble = cat_sub.predict(X_sub, ntree_end = cat_sub.best_iteration_) * cat_w
ensemble += lgb_model.predict(X_sub, num_iteration=lgb_model.best_iteration) * lgb_w
ensemble += bst_sub.predict(dsub, ntree_limit=bst.best_ntree_limit) * xgb_w
ensemble = ensemble / (cat_w + lgb_w + xgb_w)
evaluate(ensemble.astype(int), y_sub, w_sub)

595317.2259999999