In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# EDA
<hr>

## Table infos

In [2]:
infos = pd.read_csv('infos.csv', sep = '|')

In [3]:
infos.head()

   itemID  simulationPrice promotion
0       1             3.43       NaN
1       2             9.15       NaN
2       3            14.04       NaN
3       4            14.10       NaN
4       5             7.48       NaN

In [4]:
infos.shape

(10463, 3)

In [5]:
len(infos) - infos.count()

itemID                0
simulationPrice       0
promotion          8620
dtype: int64

## Table items

In [6]:
items = pd.read_csv('items.csv', sep = '|')

In [7]:
items.head()

,itemID,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice
0,1,0,1,4.38,1,1,1,8.84
1,2,0,2,3.00,1,2,1,16.92
2,3,0,3,5.00,1,3,1,15.89
3,4,0,2,4.44,1,2,1,40.17
4,5,0,2,2.33,1,1,1,17.04

In [8]:
items.shape

(10463, 8)

In [9]:
items.count()

itemID                    10463
brand                     10463
manufacturer              10463
customerRating            10463
category1                 10463
category2                 10463
category3                 10463
recommendedRetailPrice    10463
dtype: int64

In [10]:
items.nunique()

itemID                    10463
brand                       275
manufacturer                253
customerRating               99
category1                     8
category2                    52
category3                     8
recommendedRetailPrice     5106
dtype: int64

## Table orders

In [11]:
orders = pd.read_csv('orders.csv', sep = '|', parse_dates=['time'])

In [12]:
orders.head()

                 time  transactID  itemID  order  salesPrice
0 2018-01-01 00:01:56     2278968     450      1       17.42
1 2018-01-01 00:01:56     2278968      83      1        5.19
2 2018-01-01 00:07:11     2255797    7851      2       20.47
3 2018-01-01 00:09:24     2278968     450      1       17.42
4 2018-01-01 00:09:24     2278968      83      1        5.19

In [13]:
orders.shape

(2181955, 5)

In [14]:
orders.count()

time          2181955
transactID    2181955
itemID        2181955
order         2181955
salesPrice    2181955
dtype: int64

In [15]:
orders.dtypes

time          datetime64[ns]
transactID             int64
itemID                 int64
order                  int64
salesPrice           float64
dtype: object

In [16]:
orders.time

0         2018-01-01 00:01:56
1         2018-01-01 00:01:56
2         2018-01-01 00:07:11
3         2018-01-01 00:09:24
4         2018-01-01 00:09:24
                  ...
2181950   2018-06-29 23:54:22
2181951   2018-06-29 23:55:09
2181952   2018-06-29 23:55:09
2181953   2018-06-29 23:55:09
2181954   2018-06-29 23:57:01
Name: time, Length: 2181955, dtype: datetime64[ns]

In [17]:
orders.time.dt.week

0           1
1           1
2           1
3           1
4           1
           ..
2181950    26
2181951    26
2181952    26
2181953    26
2181954    26
Name: time, Length: 2181955, dtype: int64

In [18]:
orders.groupby('itemID')['salesPrice'].nunique().max()

22

# Other things
<hr>

## Evalutation function

In [19]:
# custo 
# np.sum((prediction - np.maximum(prediction - target, 0) * 1.6) * simulatedPrice)

## Submission structure

In [20]:
# submission = items[['itemID']]
# submission['demandPrediction'] = 0 # prediction here
# submission.to_csv('submission.csv', sep = '|', index=False)

# First Model (aggregating by every two weeks before target)

## - Creating the structure

In [173]:
df = orders.copy()

In [174]:
df.tail()

                       time  transactID  itemID  order  salesPrice
2181950 2018-06-29 23:54:22     2040347    9217      1       23.50
2181951 2018-06-29 23:55:09     2260943    2175      1       11.60
2181952 2018-06-29 23:55:09     2260943    2061      1        1.03
2181953 2018-06-29 23:55:09     2260943    2195      1       18.73
2181954 2018-06-29 23:57:01        2525    8462      1       18.93

In [175]:
df.tail().time.dt.dayofweek

2181950    4
2181951    4
2181952    4
2181953    4
2181954    4
Name: time, dtype: int64

In [176]:
# We want the last dayofweek from training to be 6

In [177]:
(df.tail().time.dt.dayofyear + 2) // 7

2181950    26
2181951    26
2181952    26
2181953    26
2181954    26
Name: time, dtype: int64

In [178]:
(df.head().time.dt.dayofyear + 2) // 7

0    0
1    0
2    0
3    0
4    0
Name: time, dtype: int64

In [179]:
df['week'] = (df.time.dt.dayofyear + 2 + 7) // 14
# + 7 because we want weeks 25 and 26 to be together, week 0 will be discarded

In [180]:
maxx = df.week.max()
minn = df.week.min()
minn, maxx

(0, 13)

In [181]:
n_items = items['itemID'].nunique()
print('total number of items:', n_items)
print('expected number of instances:', n_items * (maxx + 1))

total number of items: 10463
expected number of instances: 146482

In [217]:
mi = pd.MultiIndex.from_product([range(0, maxx + 1), items['itemID']], names=['week', 'itemID'])
data = pd.DataFrame(index = mi)

In [218]:
data = data.join(df.groupby(['week', 'itemID'])[['order']].sum(), how = 'left')

In [219]:
data.fillna(0, inplace = True)

In [221]:
data.groupby('itemID').count().min()

order    14
dtype: int64

## - Creating features

In [243]:
# rolling window example with shift
random_df = pd.DataFrame({'B': [0, 1, 2, 3, 4]})
random_df.shift(1).rolling(2).sum()

     B
0  NaN
1  NaN
2  1.0
3  3.0
4  5.0

In [ ]:
# I am going to create three features: the mean of the orders of the last [1, 2, 4] weeks for each item

In [222]:
data.sort_values('week', inplace = True)

In [223]:
shifted = data.groupby('itemID')[['order']].shift(1)
for n in range(3):
    rolled = shifted.groupby('itemID', as_index = False)['order'].rolling(2 ** n).mean()
    data['order_%d' % (2 ** n)] = rolled.reset_index(0, drop = True) # rolling has a weird index behavior...

In [224]:
data.count() # the larger the window, more NaN are expected

order      146482
order_1    136019
order_2    125556
order_4    104630
dtype: int64

In [225]:
data.fillna(-1, inplace=True)

In [241]:
# checking if we got what we wanted
data.xs(1, level = 1, drop_level=False)

             order  order_1  order_2  order_4
week itemID
0    1         0.0     -1.0     -1.0    -1.00
1    1         0.0      0.0     -1.0    -1.00
2    1       313.0      0.0      0.0    -1.00
3    1         4.0    313.0    156.5    -1.00
4    1        35.0      4.0    158.5    79.25
5    1         2.0     35.0     19.5    88.00
6    1         0.0      2.0     18.5    88.50
7    1         1.0      0.0      1.0    10.25
8    1       300.0      1.0      0.5     9.50
9    1         2.0    300.0    150.5    75.75
10   1        33.0      2.0    151.0    75.75
11   1         0.0     33.0     17.5    84.00
12   1         1.0      0.0     16.5    83.75
13   1         2.0      1.0      0.5     9.00

##  - fit, predict

In [282]:
# max expected rmse
from sklearn.metrics import mean_squared_error as mse
pred = data.loc[1:12].groupby('itemID')['order'].mean().sort_index()
target_week = data.loc[13:, 'order'].reset_index(level = 0, drop = True).sort_index()
mse(target_week, pred) ** .5

87.19741453702186

In [227]:
train = data.loc[1:12].reset_index()
test = data.loc[13:].reset_index()

In [228]:
y_train = train.pop('order').values
y_test = test.pop('order').values

X_train = train.values
X_test = test.values

In [233]:
import xgboost as xgb

In [285]:
dtrain = xgb.DMatrix(X_train, y_train, missing = -1)
dtest = xgb.DMatrix(X_test, y_test, missing = -1)
# specify parameters via map
param = {'max_depth':6, 'eta':0.01, 'objective':'reg:squarederror' }
num_round = 200
bst = xgb.train(param, dtrain,
                num_round, early_stopping_rounds = 5,
                evals = [(dtrain, 'train'), (dtest, 'test')])

[0]	train-rmse:105.74801	test-rmse:86.55006
Multiple eval metrics have been passed: 'test-rmse' will be used for early stopping.

Will train until test-rmse hasn't improved in 5 rounds.
[1]	train-rmse:105.63801	test-rmse:86.44087
[2]	train-rmse:105.53018	test-rmse:86.33538
[3]	train-rmse:105.42452	test-rmse:86.23684
[4]	train-rmse:105.31979	test-rmse:86.14248
[5]	train-rmse:105.21917	test-rmse:86.04932
[6]	train-rmse:105.11799	test-rmse:85.96081
[7]	train-rmse:105.01976	test-rmse:85.87427
[8]	train-rmse:104.92540	test-rmse:85.79022
[9]	train-rmse:104.82925	test-rmse:85.70736
[10]	train-rmse:104.73519	test-rmse:85.62856
[11]	train-rmse:104.64571	test-rmse:85.54427
[12]	train-rmse:104.55712	test-rmse:85.47169
[13]	train-rmse:104.46720	test-rmse:85.39318
[14]	train-rmse:104.37711	test-rmse:85.31720
[15]	train-rmse:104.29012	test-rmse:85.24924
[16]	train-rmse:104.20571	test-rmse:85.17835
[17]	train-rmse:104.12382	test-rmse:85.10540
[18]	train-rmse:104.04105	test-rmse:85.03643
[19]	train-rmse:103.96104	test-rmse:84.96420
[20]	train-rmse:103.88149	test-rmse:84.89658
[21]	train-rmse:103.80469	test-rmse:84.83554
[22]	train-rmse:103.72643	test-rmse:84.77044
[23]	train-rmse:103.65134	test-rmse:84.71221
[24]	train-rmse:103.57467	test-rmse:84.64866
[25]	train-rmse:103.50096	test-rmse:84.59248
[26]	train-rmse:103.42787	test-rmse:84.53709
[27]	train-rmse:103.35662	test-rmse:84.47832
[28]	train-rmse:103.28684	test-rmse:84.42395
[29]	train-rmse:103.21594	test-rmse:84.37719
[30]	train-rmse:103.14876	test-rmse:84.32303
[31]	train-rmse:103.07933	test-rmse:84.27471
[32]	train-rmse:103.01261	test-rmse:84.22941
[33]	train-rmse:102.94460	test-rmse:84.18479
[34]	train-rmse:102.87800	test-rmse:84.14166
[35]	train-rmse:102.81342	test-rmse:84.09768
[36]	train-rmse:102.75017	test-rmse:84.05817
[37]	train-rmse:102.68596	test-rmse:84.01851
[38]	train-rmse:102.62354	test-rmse:83.97295
[39]	train-rmse:102.56405	test-rmse:83.93160
[40]	train-rmse:102.50262	test-rmse:83.89957
[41]	train-rmse:102.44614	test-rmse:83.86552
[42]	train-rmse:102.38600	test-rmse:83.82839
[43]	train-rmse:102.33064	test-rmse:83.79639
[44]	train-rmse:102.27444	test-rmse:83.76517
[45]	train-rmse:102.21792	test-rmse:83.73412
[46]	train-rmse:102.15894	test-rmse:83.70459
[47]	train-rmse:102.10317	test-rmse:83.67456
[48]	train-rmse:102.05070	test-rmse:83.64211
[49]	train-rmse:101.99477	test-rmse:83.61808
[50]	train-rmse:101.94115	test-rmse:83.57818
[51]	train-rmse:101.88519	test-rmse:83.55048
[52]	train-rmse:101.83363	test-rmse:83.52419
[53]	train-rmse:101.77898	test-rmse:83.49635
[54]	train-rmse:101.72097	test-rmse:83.46989
[55]	train-rmse:101.67119	test-rmse:83.43758
[56]	train-rmse:101.62105	test-rmse:83.39944
[57]	train-rmse:101.57237	test-rmse:83.37529
[58]	train-rmse:101.52492	test-rmse:83.35071
[59]	train-rmse:101.47722	test-rmse:83.32056
[60]	train-rmse:101.42599	test-rmse:83.30363
[61]	train-rmse:101.37819	test-rmse:83.28173
[62]	train-rmse:101.32873	test-rmse:83.25291
[63]	train-rmse:101.27799	test-rmse:83.22555
[64]	train-rmse:101.22944	test-rmse:83.20476
[65]	train-rmse:101.18504	test-rmse:83.17610
[66]	train-rmse:101.14229	test-rmse:83.14629
[67]	train-rmse:101.09405	test-rmse:83.11539
[68]	train-rmse:101.05173	test-rmse:83.08800
[69]	train-rmse:101.00398	test-rmse:83.05902
[70]	train-rmse:100.95927	test-rmse:83.03106
[71]	train-rmse:100.91789	test-rmse:83.00415
[72]	train-rmse:100.87466	test-rmse:82.98191
[73]	train-rmse:100.83267	test-rmse:82.95742
[74]	train-rmse:100.79478	test-rmse:82.93303
[75]	train-rmse:100.75254	test-rmse:82.91042
[76]	train-rmse:100.71690	test-rmse:82.88782
[77]	train-rmse:100.67800	test-rmse:82.86589
[78]	train-rmse:100.63914	test-rmse:82.84035
[79]	train-rmse:100.60325	test-rmse:82.82498
[80]	train-rmse:100.56451	test-rmse:82.80138
[81]	train-rmse:100.52900	test-rmse:82.79086
[82]	train-rmse:100.49670	test-rmse:82.78217
[83]	train-rmse:100.46399	test-rmse:82.76659
[84]	train-rmse:100.42999	test-rmse:82.75632
[85]	train-rmse:100.39851	test-rmse:82.75421
[86]	train-rmse:100.36566	test-rmse:82.74202
[87]	train-rmse:100.33409	test-rmse:82.73115
[88]	train-rmse:100.30360	test-rmse:82.72440
[89]	train-rmse:100.27469	test-rmse:82.71201
[90]	train-rmse:100.24374	test-rmse:82.70570
[91]	train-rmse:100.20985	test-rmse:82.69714
[92]	train-rmse:100.16987	test-rmse:82.68957
[93]	train-rmse:100.12893	test-rmse:82.67725
[94]	train-rmse:100.10052	test-rmse:82.66902
[95]	train-rmse:100.06836	test-rmse:82.66293
[96]	train-rmse:100.03914	test-rmse:82.66015
[97]	train-rmse:100.01279	test-rmse:82.65617
[98]	train-rmse:99.97921	test-rmse:82.64472
[99]	train-rmse:99.95155	test-rmse:82.63576
[100]	train-rmse:99.92353	test-rmse:82.62023
[101]	train-rmse:99.89265	test-rmse:82.61700
[102]	train-rmse:99.85178	test-rmse:82.60992
[103]	train-rmse:99.82732	test-rmse:82.60581
[104]	train-rmse:99.79886	test-rmse:82.59843
[105]	train-rmse:99.76807	test-rmse:82.59099
[106]	train-rmse:99.74448	test-rmse:82.58943
[107]	train-rmse:99.71972	test-rmse:82.58305
[108]	train-rmse:99.69152	test-rmse:82.58019
[109]	train-rmse:99.66619	test-rmse:82.57391
[110]	train-rmse:99.64336	test-rmse:82.57170
[111]	train-rmse:99.61887	test-rmse:82.56563
[112]	train-rmse:99.58707	test-rmse:82.56911
[113]	train-rmse:99.55979	test-rmse:82.55803
[114]	train-rmse:99.52372	test-rmse:82.55762
[115]	train-rmse:99.49449	test-rmse:82.55173
[116]	train-rmse:99.46755	test-rmse:82.54193
[117]	train-rmse:99.43310	test-rmse:82.53640
[118]	train-rmse:99.40661	test-rmse:82.52820
[119]	train-rmse:99.37757	test-rmse:82.52938
[120]	train-rmse:99.34916	test-rmse:82.52688
[121]	train-rmse:99.32346	test-rmse:82.51993
[122]	train-rmse:99.29163	test-rmse:82.51763
[123]	train-rmse:99.26676	test-rmse:82.51701
[124]	train-rmse:99.24229	test-rmse:82.51072
[125]	train-rmse:99.21703	test-rmse:82.50997
[126]	train-rmse:99.19222	test-rmse:82.51057
[127]	train-rmse:99.16834	test-rmse:82.50536
[128]	train-rmse:99.14866	test-rmse:82.50143
[129]	train-rmse:99.12412	test-rmse:82.49631
[130]	train-rmse:99.10141	test-rmse:82.48704
[131]	train-rmse:99.07755	test-rmse:82.47951
[132]	train-rmse:99.05352	test-rmse:82.48229
[133]	train-rmse:99.03042	test-rmse:82.47550
[134]	train-rmse:99.00362	test-rmse:82.48202
[135]	train-rmse:98.98168	test-rmse:82.48174
[136]	train-rmse:98.96134	test-rmse:82.48251
[137]	train-rmse:98.94061	test-rmse:82.48305
[138]	train-rmse:98.91447	test-rmse:82.47710
Stopping. Best iteration:
[133]	train-rmse:99.03042	test-rmse:82.47550